@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  background-color: black;
  background-image: url(pictures/stars.png), url(pictures/mountain.png);
  background-position: center, bottom;
  background-repeat: repeat, no-repeat;
  background-size: 50% 50%, 100% auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}

h1 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 7.5px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding-top: 3rem;
}

#block_one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

#block_one .block_item2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20%;
  height: 100%;
  align-items: center;
}

#block_one .block_item2 .block {
  display: flex;
  gap: 1rem;
}

#block_one .block_item2 .block p {
  text-align: center;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 5.92px;
  text-align: center;
  color: rgba(131, 133, 169, 1);
}

#block_one .block_item2 .block .timer {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

#block_one .block_item3 footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

a:hover {
  filter: brightness(0) saturate(100%) invert(53%) sepia(73%) saturate(2309%)
    hue-rotate(311deg) brightness(100%) contrast(98%);
  cursor: pointer;
}

#block_one .block_item2 .block .timer .timer_box {
  width: 128px;
  height: 130px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 0 rgba(25, 26, 35, 1);
  background: linear-gradient(
    to bottom,
    #2b2d44 0%,
    #2b2d44 50%,
    #3b3d56 50%,
    #3b3d56 100%
  );
}

#block_one .block_item2 .block .timer .timer_box .number {
  font-size: 75px;
  font-weight: 700;
  font-family: "Red Hat Text", sans-serif;
  color: #fb6689;
}

#block_one .block_item2 .block .timer .timer_box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
}

#block_one .block_item2 .block .timer .timer_box::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: rgba(25, 26, 35, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

#block_one .block_item2 .block .timer .timer_box .right {
  position: absolute;
  right: -10px;
  top: 50%;
  width: 20px;
  height: 20px;
  background: rgba(25, 26, 35, 0.5);
  border-radius: 50%;
  transform: translateY(-50%);
}

#block_one .block_item2 .block .timer .timer_box span {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 71px;
  letter-spacing: -2.4px;
  text-align: center;
  color: rgba(251, 94, 132, 1);
}

@media (max-width: 600px) {
  #block_one .block_item2 .block .timer .timer_box {
    max-width: 108px;
  }

  h1 {
    font-size: 2rem;
  }
  .main {
    background-color: black;
    background-image: url(pictures/stars.png), url(pictures/mountain.png);
    background-position: center, bottom;
    background-repeat: repeat, no-repeatre;
    background-size: 50% 50%, 100% 25%;
  }

  #block_one .block_item2 .block p {
    font-size: 0.8rem;
  }
}
